# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
Desktop.ini
.AppleDouble
.LSOverride
._*
*~
.directory
.Trash-*
$RECYCLE.BIN/

.idea/
.vscode/
*.iml

# =========================
# Environment / Security
# =========================
.env
env
.vagrant
Vagrantfile

# =========================
# Composer
# =========================
/vendor/

# =========================
# Writable (CI4)
# =========================
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/index.html

php_errors.log

# =========================
# Testing
# =========================
tests/coverage*
phpunit
/phpunit*.xml

# =========================
# User guide build
# =========================
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# =========================
# Build / Temp
# =========================
/build/
/dist/
/results/
